<?xml version='1.0' encoding='UTF-8'?>
<plugin id="uk.co.ilee.applewatch" version="0.0.2-dev" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Apple Watch</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova / PhoneGap Plugin for the Apple Watch (WatchKit) to allow json object
        message passing over defined channels from a Cordova app to Apple Watch. </description>
    <keywords>cordova, apple, watch, watchkit, channel, json, message, extension</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module name="AppleWatch" src="www/applewatch.js">
        <clobbers target="applewatch"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppleWatch">
                <param name="ios-package" value="AppleWatch"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AppleWatch.h"/>
        <source-file src="src/ios/AppleWatch.m"/>
        <framework autogen="true" src="Foundation.framework"/>
        <header-file autogen="true" src="src/ios/vendor/headers/MMWormhole.h"/>
        <source-file autogen="true" framework="true" src="src/ios/vendor/libmmwormhole.a"/>
    </platform>
</plugin>
